@import "tailwindcss";
@import "~/styles/skeleton.css";
@import "~/styles/homepage.css";

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

/**  This section contains non-tailwind classes*/

.nav-card {
  :hover {
    border: 1px solid darkgray;
  }
}

.nav-card button {
  :hover {
  }
}
